@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
}

body
{
    color: white;
    background-color: rgb(50, 50, 50);
    padding: 0;
    font-family: 'Righteous', cursive !important;
}

button
{
    width: 100%;
    height: 40px;
    background-color: cornflowerblue;
    border: solid cornflowerblue;
    border-radius: 25px;
}

#developer-console
{
    position: absolute;
    right: 1%;
    top: 0;
    visibility: hidden;
}

#crasher-button
{
    background-color: red;
    color: white;
    visibility: hidden;
}

#version-text
{
    position: absolute;
    bottom: 0;
    left: 1%;
}

#start-screen
{
    background-color: white;
    border-radius: 25px;
    color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 5%;
    transform: translate(-50%, -50%);
}

.disable-select
{
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

@media screen and (min-width: 320px)
{
    html
    {
        font-size: 2vw;
    }
}

@media screen and (min-width: 1000px)
{
    html
    {
        font-size: 1vw;
    }
}